<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  
  
   <link href="css/navbarexemple.css" rel="stylesheet">    
      <link href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
 
  
  <title>ENSET-NETWORK</title>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">


<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark color fixed-top shadow" >
<div class="container">
  <a class="navbar-brand" href="/navbarexemple"><img alt="Brand" src="img/logo.jpg"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <div class="form-group has-search">
    <span class="fa fa-search form-control-feedback"></span>
    <input type="text" class="form-control" placeholder="Rechercher">
  </div>
    <ul class="navbar-nav mr-auto">
      
     
    </ul>
    <ul class="navbar-nav ">
    <li class="nav-item active">
        <a class="nav-link" href="/navbarexemple">
          <i class="fa fa-home"></i>
          Accueil
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Reseau">
          <i class="fa fa-users"></i>
          Réseau
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-envelope-o"></i>
         Messages
        </a>
      </li>
      
      
     <div class="topbar-divider d-none d-sm-block"></div>
            
       <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <img class="rounded-circle" alt="Brand" src="/img/maryam2.png" width="80" height="60">
              </a>
              <!-- Dropdown - User Information -->
              <div style="font-size: 20px;" class="dropdown-menu dropdown-menu-right shadow animated--grow-in " aria-labelledby="userDropdown">
              
                <a class="dropdown-item " href="#"><img src="/img/maryam2.png" width="80" height="80" class="shadow rounded-circle">Taiaa Maryam </a>
                <div class="dropdown-divider" style="font-size: 20px;"></div>
            
                <a class="dropdown-item " href="#"><i class="fa fa-cog"></i>Paramètres</a>
                <a class="dropdown-item " href="#"><i class="fa fa-sign-out" ></i>Se déconnecter</a>
              </div>
            </li>
    
    </ul>
    
  </div>
  </div>
</nav>

<div style="padding:15px 15px 100px;">
  <p></p>
</div>




</body>


<footer class="footer-distributed">

			<div class="footer-left">

				<img alt="Brand" src="/img/logo2f.png" width="200" height="150">

				<p class="footer-links">
					<a href="/navbarexemple" class="link-1">Accueil</a>
					
					<a href="/Reseau">Réseau</a>
				
					<a href="#">Messages</a>
				</p>				
			</div>
			<div class="footer-center">
				<div>
					<i class="fa fa-map-marker"></i>
					<p> BP 159 Bd Hassan II Mohammedia</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>05 23 32 22 20 </p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="#"></a></p>
				</div>

			</div>

			<div class="footer-right">
					<h3> ENSET<span>NETWORK</span></h3>
					 <p class="footer-company-about">
					Est un réseau social et professionnel dédié aux étudiants et aux lauréats de l'ENSETM 
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>
<p class="footer-company-name">GLSID © 2020</p>
		</footer>



</html>